h1{
    font-family: 'Rancho';
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px #000000;
}
h2{
    display: inline-block;
    display: inline-block;
    -webkit-margin-before: -4.17em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 399px;
    -webkit-margin-end: -18px;
}

txt.turn {
    font-size: 40px;
    text-shadow: 2px 2px #000000;
    display: inline-block;
    position: relative;
    left: 430px;
    top: -63px;
}
.banana {
    width: 100px;
    height: 100px;
    display: none;
    position: absolute;
}
#pointsA{
    font-size: 30px;
    text-shadow: 2px 2px #000000;
}
#pointsB{
    font-size: 30px;
    text-shadow: 2px 2px #000000;
}
#button{
    background: #fff200;
    background-image: -webkit-linear-gradient(top, #fff200, #c49016);
    background-image: -moz-linear-gradient(top, #fff200, #c49016);
    background-image: -ms-linear-gradient(top, #fff200, #c49016);
    background-image: -o-linear-gradient(top, #fff200, #c49016);
    background-image: linear-gradient(to bottom, #fff200, #c49016);
    -webkit-border-radius: 46;
    -moz-border-radius: 46;
    border-radius: 46px;
    text-shadow: 5px 2px 3px #000000;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
#clear{
    background: #fff200;
    background-image: -webkit-linear-gradient(top, #fff200, #c49016);
    background-image: -moz-linear-gradient(top, #fff200, #c49016);
    background-image: -ms-linear-gradient(top, #fff200, #c49016);
    background-image: -o-linear-gradient(top, #fff200, #c49016);
    background-image: linear-gradient(to bottom, #fff200, #c49016);
    -webkit-border-radius: 46;
    -moz-border-radius: 46;
    border-radius: 46px;
    text-shadow: 5px 2px 3px #000000;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
#start{
    background: #fff200;
    background-image: -webkit-linear-gradient(top, #fff200, #c49016);
    background-image: -moz-linear-gradient(top, #fff200, #c49016);
    background-image: -ms-linear-gradient(top, #fff200, #c49016);
    background-image: -o-linear-gradient(top, #fff200, #c49016);
    background-image: linear-gradient(to bottom, #fff200, #c49016);
    -webkit-border-radius: 46;
    -moz-border-radius: 46;
    border-radius: 46px;
    text-shadow: 5px 2px 3px #000000;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.light-on{
    background-color: yellow;
}
#turn .turn_a{
    display:none
}
#turn.a .turn_a{
    display:block
}
#turn.a .turn_b{
    display:none
}

body {
    background-image: url("https://image.shutterstock.com/z/stock-vector-vector-cartoon-illustration-of-background-morning-jungle-bright-jungle-with-ferns-and-flowers-for-536303545.jpg");
    font-family: 'Rancho';
    color: white;
}
img {
    height: 300px;
    width: 300px;
    cursor: crosshair;
    
}
h3#timeLeft {
    -webkit-margin-before: -2em;
    -webkit-margin-after: 2em;
    -webkit-margin-start: 584px;
    -webkit-margin-end: 91px;
    text-shadow: 2px 2px #000000;
    letter-spacing: 2px;
    font-size: 35px;
}