.banana {
    width: 100px;
    height: 100px;
    display: none;
    position: absolute;
}
.light-on{
    background-color: yellow;
}
#turn .turn_a{display:none}
#turn.a .turn_a{display:block}
#turn.a .turn_b{display:none}